/* sheared */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* font raleway */

.open-sans-raleway {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.primary-color{
    color: #4E47FF;
}


 /* header */
header{
    background-image: url(./Assets/Hero-bg.png);
    height: 588px;
    
    
}
/* nav desine */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav button{
    width: 132px;
    height: 48px;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
}

ul{
    
    list-style: none;
}

.nav-logo{
    font-weight: 900;
}

nav ul a{
    background-color: #4E47FF;
    color: white;
    text-decoration: none;
}
.benner{
    margin: 0 auto;
    width: 905px;
    height: 152px;
    margin-top: 100px;
    
    
}
.banner-button{
    margin-left: 380px;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    width: 174px;
    height: 48px;
}
.banner-content h1{
    font-weight: bold;
    font-size: 62px;
    text-align: center;
}
/* main */
main{
    background-color: #f6f6fd;
}
/* action section */
.action{
    display: flex;
    width: 1140px;
    height: 328px;
    margin: 0 auto;
    /* margin-top: 150px; */
    padding-top: 100px;
    align-items: center;
    gap: 250px;
}
.action-item{
    width: 517px;
    height: 203px;
}
.action-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.action-description{
    font-weight: Regular;
    font-size: 24px;
    color: #252432;
}
.action-button{
    width: 229px;
    height: 48px;
    color:white ;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;

}
.action-item-tow img{
    border-radius: 50px;
}
/* producting section */
.Productive-Users-Section{
    width: 1140px;
    height: 336px;
    margin: 0 auto;
    background-color: #eaeaf5;
    border-radius: 25px;
    margin-top: 100px;
    
    
}
.Productive-title{
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    color: #252432;
}
.Productive-container{
    display: flex;
    justify-content: center;
    gap: 158px;
    padding-bottom: 40px;
}
.Productive-item h1{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 0;
    
}
.Productive-item p{
    margin-top: 0;
    color: #8987A1;
    font-size: 20px;
    
    
    
}
/* Feedback */
.Feedback-Section{
    width: 1140px;
    height: 342px;
    margin: 0 auto;
    
}
.Feedback-title{
    text-align: center;
    margin-top: 150px;
    font-weight: bold;
    font-size: 42px;
}
.feedback-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.feedback-item{
    background-color:white;
    border-radius: 25px;
    padding: 20px;
    
    
    
}

.feedback-p{
    color: #757575;
}
.feedback-p-tow{
    color: #B3B3B3;
}

.introduc{
    display: flex;
    align-items: center;
}
.introduc img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.introduc-child p{
    margin: 0;
    margin-left: 10px;
}
/* from section */
.form-continer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    gap: 40px;
}
.form-section{
    width: 1140px;
    height: 632px;
    margin: 0 auto;
    
}
.form-title{
    font-weight: bold;
    font-size: 97px;
    color: #000000;
    
}
form input{
    border: none;
    width: 497px;
    height: 90px;
    border-radius: 15px;
    margin-bottom: 30px;
    padding-left: 20px;
    
    
}
form textarea{
    border: none;
    width: 497px;
    height: 110px;
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 30px;

}
form input.submit{
    height: 60px;
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
 
/* footer */
.fotter-section{
    width: 531px;
    height: 221px;
    margin: 0 auto;
    
}
.fotter-section h1{
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    color: #4E47FF;
    margin-bottom: 0px;
}
.fotter-item{
    display: flex;
    justify-content: space-between;
    color: #8987A1;
}
.footer-perag{
    color: #8987A1;
}
/* hover efect */
.hover{
    transition: 1s;
}
.hover:hover{
    background-color: rgb(57, 20, 136);
    color: white;
    
}