/* sheared */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* font raleway */

.open-sans-raleway {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.primary-color{
    color: #4E47FF;
}


 /* header */
header{
    background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
    height: 588px;
    
}
/* nav desine */
nav{
    display: flex;
    justify-content: space-around;
}
nav button{
    width: 132px;
    height: 48px;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
}

ul{
    
    list-style: none;
}

.nav-logo{
    font-weight: 900;
}

nav ul a{
    background-color: #4E47FF;
    color: white;
    text-decoration: none;
}
.benner{
    margin: 0 auto;
    width: 905px;
    height: 152px;
    margin-top: 100px;
    
    
}
.banner-button{
    margin-left: 380px;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    width: 174px;
    height: 48px;
}
.banner-content h1{
    font-weight: bold;
    font-size: 62px;
    text-align: center;
}
/* action section */
.action{
    display: flex;
    width: 1140px;
    height: 328px;
    margin: 0 auto;
    margin-top: 150px;
    align-items: center;
    gap: 250px;
}
.action-item{
    width: 517px;
    height: 203px;
}
.action-title{
    font-weight: bold;
    font-size: 42px;
}
.action-description{
    font-weight: Regular;
    font-size: 24px;
}
.action-button{
    width: 229px;
    height: 48px;
    color:white ;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;

}
.action-item-tow img{
    border-radius: 50px;
}